[submodule "libs/hptt"]
	path = libs/hptt
	url = https://github.com/springer13/hptt.git
[submodule "libs/tccg"]
	path = libs/tccg
	url = https://github.com/FamALouiz/tccg-3.x.git
[submodule "libs/tcl"]
	path = libs/tcl
	url = https://github.com/springer13/tcl.git
[submodule "libs/blis"]
	path = libs/blis
	url = https://github.com/flame/blis.git
